.swiper-pagination {
  bottom: 11rem !important;
}

.swiper-pagination-bullet {
  background: #c7ccd6;
  opacity: 1;
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active {
  background: #989fae;
}
